@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.8px;
}

.btn {
  color: white;
  text-decoration: none;
  border-radius: 3px;
  display: flex;
}

header {
  padding: 20px 0;
}

.header-content {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.header-content img {
  max-width: 100%;
  width: 370px;
}
@media (min-width: 1260px) {
  .header-content input[type=text] {
    width: 18em;
  }
}
@media (max-width: 1259px) {
  .header-content {
    width: 970px;
  }
  .header-content input[type=text] {
    display: none;
  }
  .header-content .btn-search {
    border-radius: 3px 3px 3px 3px;
  }
}
@media (max-width: 991px) {
  .header-content {
    width: 750px;
  }
  .header-content input[type=text] {
    width: 13em;
    display: flex;
  }
  .header-content .btn-support,
.header-content .btn-contact {
    display: none;
  }
}
@media (max-width: 767px) {
  .header-content {
    width: 95%;
  }
  .header-content .search {
    display: none;
  }
  .header-content .btn-phone {
    display: flex;
  }
}

.header-nav {
  display: flex;
}
.header-nav div {
  display: flex;
  margin: auto;
  padding-left: 1.3em;
}

.btn-support {
  background: #4183d7;
  padding: 0.3em 0.9em;
}
.btn-support:hover {
  background: #2665b5;
  transition: all 0.15s ease;
}
.btn-support i {
  font-size: 23px;
  margin: 0.5em auto;
  display: flex;
}
.btn-support p {
  font-size: 18px;
  margin: auto;
}

.btn-contact {
  background: #999aa2;
  padding: 0.3em 0.9em;
}
.btn-contact:hover {
  background: #797a85;
  transition: all 0.15s ease;
}
.btn-contact i {
  font-size: 23px;
  margin: 0.5em 0.1em;
  display: flex;
}
.btn-contact p {
  font-size: 18px;
  margin: auto;
}

.btn-phone {
  display: none;
  color: #333645;
  font-size: 1.5em;
  margin: auto auto 0.9em;
}

.btn-menu {
  background: #333645;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 0.45em 1em;
}
.btn-menu:hover {
  background: #191a22;
  transition: all 0.15s ease;
}
.btn-menu hr {
  margin: 0.15em 0;
  color: white;
  background-color: white;
  border: none;
  height: 0.2em;
}
.btn-menu p {
  font-size: 0.75em;
  margin: auto;
}

.search .btn-search {
  background: #999aa2;
  border-radius: 0 3px 3px 0;
  padding: 0.3em 0.9em;
}
.search .btn-search:hover {
  background: #797a85;
  transition: all 0.15s ease;
}
.search i {
  font-size: 23px;
  margin: 0.5em 0.1em;
  display: flex;
}

.search-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  height: 47px;
  margin: 20px auto auto auto;
}
.search-mobile input {
  height: 100px;
  width: 100%;
}
.search-mobile i {
  position: absolute;
  display: flex;
  justify-content: right;
}
@media (min-width: 767px) {
  .search-mobile {
    display: none;
  }
}

nav {
  display: flex;
  justify-content: center;
  background-color: #333645;
  border-bottom: 1px solid grey;
}
@media (max-width: 990px) {
  nav {
    display: none;
  }
}
nav .nav-content {
  width: 1200px;
}
@media (max-width: 1260px) {
  nav .nav-content {
    width: 970px;
  }
}
nav .nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  border-left: 1px solid #494d62;
  border-right: 1px solid #1d1f28;
  line-height: 1em;
}
nav .nav-list-items {
  border-right: 1px solid #494d62;
  border-left: 1px solid #1d1f28;
  flex-grow: 1;
}
nav .nav-list-items .nav-links {
  display: block;
  padding: 1.3em 0;
}
nav li a,
nav li {
  text-decoration: none;
  text-align: center;
  color: white;
}
nav small {
  font-size: 0.63em;
}
nav i {
  font-size: 1.4em;
}

.nav-list-web:hover {
  background-color: #926FB1;
}
.nav-list-web:hover i {
  color: white;
}
.nav-list-web i {
  color: #926FB1;
}

.nav-list-it:hover {
  background-color: #4082D6;
}
.nav-list-it:hover i {
  color: white;
}
.nav-list-it i {
  color: #4082D6;
}

.nav-list-telecoms:hover {
  background-color: #D64541;
}
.nav-list-telecoms:hover i {
  color: white;
}
.nav-list-telecoms i {
  color: #D64541;
}

.nav-list-software:hover {
  background-color: #657E9C;
}
.nav-list-software:hover i {
  color: white;
}
.nav-list-software i {
  color: #657E9C;
}

.nav-list-marketing:hover {
  background-color: #2DCB70;
}
.nav-list-marketing:hover i {
  color: white;
}
.nav-list-marketing i {
  color: #2DCB70;
}

.nav-list-cyber:hover {
  background-color: #F62459;
}
.nav-list-cyber:hover i {
  color: white;
}
.nav-list-cyber i {
  color: #F62459;
}

.nav-web:hover + .web-dropdown, .web-dropdown:hover,
.nav-it:hover + .it-dropdown, .it-dropdown:hover,
.nav-telecoms:hover + .telecoms-dropdown, .telecoms-dropdown:hover,
.nav-software:hover + .software-dropdown, .software-dropdown:hover,
.nav-marketing:hover + .marketing-dropdown, .marketing-dropdown:hover,
.nav-cyber:hover + .cyber-dropdown, .cyber-dropdown:hover {
  display: flex;
}

.web-dropdown {
  display: none;
  justify-content: center;
  position: absolute;
  left: 0;
  z-index: 10;
  background-color: #79539A;
  width: 100%;
  padding: 0.6em 0;
}
.web-dropdown ul {
  width: 1200px;
  list-style-type: none;
  display: flex;
}
.web-dropdown li:nth-of-type(1)::after,
.web-dropdown li:nth-of-type(2)::after,
.web-dropdown li:nth-of-type(3)::after,
.web-dropdown li:nth-of-type(4)::after,
.web-dropdown li:nth-of-type(5)::after {
  content: "-";
  margin: 0 2em;
}

.it-dropdown {
  display: none;
  justify-content: center;
  position: absolute;
  left: 0;
  z-index: 10;
  background-color: #286ABD;
  width: 100%;
  padding: 0.6em 0;
}
.it-dropdown ul {
  width: 1200px;
  list-style-type: none;
  display: flex;
}
.it-dropdown li:nth-of-type(1)::after,
.it-dropdown li:nth-of-type(2)::after,
.it-dropdown li:nth-of-type(3)::after,
.it-dropdown li:nth-of-type(4)::after,
.it-dropdown li:nth-of-type(5)::after {
  content: "-";
  margin: 0 2em;
}

.telecoms-dropdown {
  display: none;
  justify-content: center;
  position: absolute;
  left: 0;
  z-index: 10;
  background-color: #BC2C28;
  width: 100%;
  padding: 0.6em 0;
}
.telecoms-dropdown ul {
  width: 1200px;
  list-style-type: none;
  display: flex;
}
.telecoms-dropdown li:nth-of-type(1)::after,
.telecoms-dropdown li:nth-of-type(2)::after,
.telecoms-dropdown li:nth-of-type(3)::after,
.telecoms-dropdown li:nth-of-type(4)::after,
.telecoms-dropdown li:nth-of-type(5)::after {
  content: "-";
  margin: 0 2em;
}

.software-dropdown {
  display: none;
  justify-content: center;
  position: absolute;
  left: 0;
  z-index: 10;
  background-color: #526781;
  width: 100%;
  padding: 0.6em 0;
}
.software-dropdown ul {
  width: 1200px;
  list-style-type: none;
  display: flex;
}
.software-dropdown li:nth-of-type(1)::after,
.software-dropdown li:nth-of-type(2)::after,
.software-dropdown li:nth-of-type(3)::after,
.software-dropdown li:nth-of-type(4)::after,
.software-dropdown li:nth-of-type(5)::after {
  content: "-";
  margin: 0 2em;
}

.marketing-dropdown {
  display: none;
  justify-content: center;
  position: absolute;
  left: 0;
  z-index: 10;
  background-color: #25A25A;
  width: 100%;
  padding: 0.6em 0;
}
.marketing-dropdown ul {
  width: 1200px;
  list-style-type: none;
  display: flex;
}
.marketing-dropdown li:nth-of-type(1)::after,
.marketing-dropdown li:nth-of-type(2)::after,
.marketing-dropdown li:nth-of-type(3)::after,
.marketing-dropdown li:nth-of-type(4)::after,
.marketing-dropdown li:nth-of-type(5)::after {
  content: "-";
  margin: 0 2em;
}

.cyber-dropdown {
  display: none;
  justify-content: center;
  position: absolute;
  left: 0;
  z-index: 10;
  background-color: #DE093F;
  width: 100%;
  padding: 0.6em 0;
}
.cyber-dropdown ul {
  width: 1200px;
  list-style-type: none;
  display: flex;
}
.cyber-dropdown li:nth-of-type(1)::after,
.cyber-dropdown li:nth-of-type(2)::after,
.cyber-dropdown li:nth-of-type(3)::after,
.cyber-dropdown li:nth-of-type(4)::after,
.cyber-dropdown li:nth-of-type(5)::after {
  content: "-";
  margin: 0 2em;
}

.slider-image {
  background-image: linear-gradient(0.25turn, black, rgba(0, 0, 0, 0)), url("/assets/images/home-3wAI.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: calc(100vh - 206.433px);
  display: flex;
}
.slider-image .slider-text {
  width: 1200px;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.slider-image .slider-text h1 {
  font-size: 3em;
  margin-bottom: 0.54em;
}
.slider-image .slider-text p {
  font-size: 1.25em;
  margin-bottom: 1.75em;
}
.slider-image .btn-more {
  display: flex;
}
.slider-image .btn-more a {
  background: #926FB1;
  padding: 1em;
}
.slider-image .btn-more a:hover {
  background: #735093;
  transition: all 0.15s ease;
}
.slider-image .btn-more span {
  margin: auto;
  font-size: 1.25em;
}
.slider-image .btn-more i {
  display: flex;
  font-size: 1.8em;
}

.card {
  margin-bottom: 4em;
  margin-top: 1em;
}

.cards {
  margin: 2em auto;
  width: 75%;
  max-width: 1200px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 990px) {
  .cards {
    justify-content: center;
    width: 100%;
  }
}
.cards a {
  text-decoration: none;
  padding: 1.5em 1em;
  border: 1px solid lightgrey;
  box-shadow: 0 0 1.8em 0.05em #e5e5e5;
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cards .btn {
  text-align: center;
  margin: auto;
  padding: 0.7em 1em;
}
.cards h1 {
  font-size: 18px;
  color: #4e4e4e;
}
.cards p {
  margin-bottom: 1.25em;
  font-size: 13px;
  color: #4e4e4e;
}
.cards hr {
  width: 30px;
  border-top: 2px solid;
  margin: auto;
}

.card-icons {
  font-size: 1.5em;
  display: flex;
  border-radius: 50%;
  padding: 0.8em;
  margin: auto;
}

.card:nth-child(1),
.card:nth-child(2),
.card:nth-child(3) {
  width: 31.5%;
}
@media (max-width: 990px) {
  .card:nth-child(1),
.card:nth-child(2),
.card:nth-child(3) {
    width: 80%;
  }
}

.card:nth-child(4),
.card:nth-child(5),
.card:nth-child(6),
.card:nth-child(7) {
  width: 23%;
}
@media (max-width: 1250px) {
  .card:nth-child(4),
.card:nth-child(5),
.card:nth-child(6),
.card:nth-child(7) {
    width: 48.5%;
  }
}
@media (max-width: 990px) {
  .card:nth-child(4),
.card:nth-child(5),
.card:nth-child(6),
.card:nth-child(7) {
    width: 80%;
  }
}

.card-software {
  background: white;
}
.card-software span,
.card-software i {
  background: #67809F;
  color: white;
}
.card-software hr {
  color: #3f3f3f;
}
.card-software:hover {
  background: #67809F;
  color: white;
}
.card-software:hover span,
.card-software:hover i {
  background: white;
  color: #67809F;
}
.card-software:hover hr,
.card-software:hover h1,
.card-software:hover p {
  color: white;
}

.card-it {
  background: white;
}
.card-it span,
.card-it i {
  background: #4183D7;
  color: white;
}
.card-it hr {
  color: #3f3f3f;
}
.card-it:hover {
  background: #4183D7;
  color: white;
}
.card-it:hover span,
.card-it:hover i {
  background: white;
  color: #4183D7;
}
.card-it:hover hr,
.card-it:hover h1,
.card-it:hover p {
  color: white;
}

.card-marketing {
  background: white;
}
.card-marketing span,
.card-marketing i {
  background: #2ECC71;
  color: white;
}
.card-marketing hr {
  color: #3f3f3f;
}
.card-marketing:hover {
  background: #2ECC71;
  color: white;
}
.card-marketing:hover span,
.card-marketing:hover i {
  background: white;
  color: #2ECC71;
}
.card-marketing:hover hr,
.card-marketing:hover h1,
.card-marketing:hover p {
  color: white;
}

.card-telecoms {
  background: white;
}
.card-telecoms span,
.card-telecoms i {
  background: #D64541;
  color: white;
}
.card-telecoms hr {
  color: #3f3f3f;
}
.card-telecoms:hover {
  background: #D64541;
  color: white;
}
.card-telecoms:hover span,
.card-telecoms:hover i {
  background: white;
  color: #D64541;
}
.card-telecoms:hover hr,
.card-telecoms:hover h1,
.card-telecoms:hover p {
  color: white;
}

.card-web-design {
  background: white;
}
.card-web-design span,
.card-web-design i {
  background: #926FB1;
  color: white;
}
.card-web-design hr {
  color: #3f3f3f;
}
.card-web-design:hover {
  background: #926FB1;
  color: white;
}
.card-web-design:hover span,
.card-web-design:hover i {
  background: white;
  color: #926FB1;
}
.card-web-design:hover hr,
.card-web-design:hover h1,
.card-web-design:hover p {
  color: white;
}

.card-cyber {
  background: white;
}
.card-cyber span,
.card-cyber i {
  background: #F62459;
  color: white;
}
.card-cyber hr {
  color: #3f3f3f;
}
.card-cyber:hover {
  background: #F62459;
  color: white;
}
.card-cyber:hover span,
.card-cyber:hover i {
  background: white;
  color: #F62459;
}
.card-cyber:hover hr,
.card-cyber:hover h1,
.card-cyber:hover p {
  color: white;
}

.card-training {
  background: white;
}
.card-training span,
.card-training i {
  background: #926FB1;
  color: white;
}
.card-training hr {
  color: #3f3f3f;
}
.card-training:hover {
  background: #926FB1;
  color: white;
}
.card-training:hover span,
.card-training:hover i {
  background: white;
  color: #926FB1;
}
.card-training:hover hr,
.card-training:hover h1,
.card-training:hover p {
  color: white;
}

.about-image {
  background-color: #333645;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
}
.about-image .about-text {
  width: 1200px;
  max-width: 95%;
  background-image: url("assets/images/about_image.png");
  color: white;
  padding: 3em 0;
}
.about-image .about-text h1,
.about-image .about-text p {
  width: 600px;
  max-width: 100%;
  margin-bottom: 0.5em;
}
.about-image .about-text a {
  color: #333645;
  width: 10em;
  padding: 0.3em 0.4em;
  background: white;
}
.about-image .about-text a:hover {
  background: #e0e0e0;
  transition: all 0.15s ease;
}
.about-image .about-text a p {
  margin: auto;
  font-size: 17px;
  text-align: center;
}
.about-image .about-text a i {
  font-size: 1.8em;
  display: flex;
  margin: 0.2em 0;
}

.bar {
  display: flex;
  justify-content: center;
  box-shadow: 0 0.5em 2em -2em gray;
}
.bar div {
  width: 1200px;
  max-width: 95%;
}
.bar div span {
  display: flex;
}
.bar div h1 {
  font-size: 1.3em;
  color: #333645;
  padding: 1.7em 0;
  border-bottom: 0.25em solid #333645;
}

.news-section {
  padding: 3em 0;
  display: flex;
  justify-content: center;
  box-shadow: 0 0.5em 2em -2em gray;
}
.news-section .news-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1200px;
  max-width: 95%;
}
.news-section .news-card {
  width: 380px;
}
.news-section .news-container {
  border: 1px solid #ccc;
  border-radius: 0 0 3px 3px;
  border-top: none;
  padding: 1.65em;
}
.news-section .img-wrapper {
  overflow: hidden;
}
.news-section .img-wrapper img {
  border-radius: 3px 3px 0 0;
  display: block;
  width: 100%;
  transition: 0.2s;
}
.news-section .img-wrapper img:hover {
  transform: scale(110%);
  opacity: 0.8;
}
.news-section .news-headline {
  font-size: 0.85em;
}
.news-section .news-headline:not(:hover) {
  text-decoration: none;
}
.news-section p {
  font-size: 0.81em;
}
.news-section .btn {
  background: #926FB1;
  width: 6em;
  padding: 0.7em 1em;
  margin: 2em 0;
}
.news-section .btn:hover {
  background: #735093;
  transition: all 0.15s ease;
}
.news-section hr {
  width: 100%;
  border: none;
  height: 0.1em;
  background-color: lightgray;
}
.news-section .author {
  margin-top: 2em;
  display: flex;
}
.news-section .author img {
  width: 3em;
  height: 3em;
  margin-right: 1.5em;
}
.news-section .author h3,
.news-section .author span {
  font-size: 0.88em;
}

.client-section {
  display: flex;
  justify-content: center;
  padding: 2em 0;
}
.client-section .client-logos {
  width: 1200px;
  display: flex;
  justify-content: space-around;
}

.newsletter {
  background-color: #DDDDDD;
  display: flex;
  justify-content: center;
}
.newsletter .newsletter-form {
  width: 1200px;
}
.newsletter form {
  padding: 3em;
}
.newsletter .input-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.newsletter .form-group {
  display: flex;
  flex-direction: column;
}
.newsletter input[type=text] {
  width: 540px;
  padding: 1em 1em;
  border: 1px solid #ccc;
  border-radius: 2.5px;
  box-sizing: border-box;
}
.newsletter input[type=text]:focus {
  border: 1px solid #74c8f2;
  box-shadow: 0 0 0.5em 0 #74c8f2;
}
.newsletter .checkbox-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  cursor: pointer;
}
.newsletter .checkbox-container input {
  opacity: 0;
  width: 5em;
  height: 5em;
  cursor: pointer;
}
.newsletter .checkbox-container input:checked ~ .checkmark {
  background-color: #333645;
}
.newsletter .checkbox-container input:checked ~ .checkmark::after, .newsletter .checkbox-container input:checked ~ .checkmark::before {
  display: block;
}
.newsletter .checkmark {
  position: absolute;
  width: 1.7em;
  height: 1.7em;
  border-radius: 0.15em;
  border: 0.2em solid #333645;
}
.newsletter .checkmark::before {
  display: none;
  position: absolute;
  bottom: 0.4em;
  height: 30%;
  width: 0.15em;
  background-color: white;
  content: "";
  transform: translateX(0.6em) rotate(-45deg);
  transform-origin: left bottom;
}
.newsletter .checkmark::after {
  display: none;
  position: absolute;
  bottom: 0.4em;
  height: 0.15em;
  width: 60%;
  background-color: white;
  content: "";
  transform: translateX(0.6em) rotate(-45deg);
  transform-origin: left bottom;
}
.newsletter input[type=submit] {
  background-color: #333645;
  color: white;
  padding: 1em;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-top: 1em;
}
.newsletter input[type=submit]:hover {
  background-color: #22242E;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  padding: 3em 0;
  background-color: #333645;
  color: white;
}
footer h3 {
  font-size: 16px;
}
footer p {
  font-size: 13px;
  margin-top: 1.5em;
}
footer p a {
  color: white;
}
footer p a:not(:hover) {
  text-decoration: none;
}
footer .footer-content {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
footer .footer-content div {
  width: 18em;
}
footer .social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .social-icons a {
  text-decoration: none;
  color: white;
  font-size: 2em;
  background-color: #262833;
  padding: 0.3em 1.5em;
  display: flex;
  margin: 0.5em 0;
}
footer .social-icons a:hover {
  background-color: #3B5998;
}

.awards {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .awards {
    display: none;
  }
}
.awards .logo-container {
  padding: 3em;
  width: 1200px;
  max-width: 95%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.awards .logo-container img {
  width: auto;
  height: 5em;
  margin: 1em 2em;
}/*# sourceMappingURL=styles.css.map */