@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

body {
  letter-spacing: 0.8px;
  overflow-x: hidden;
}

.btn {
  color: white;
  text-decoration: none;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sticky-header {
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 100;
}

header {
  padding: 20px 0;
  background-color: white;
}

.header-content {
  -webkit-transform-origin: center;
          transform-origin: center;
  position: relative;
  left: 50%;
  right: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-content .logo {
  height: 64px;
  margin-right: 20px;
}

.header-content img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 100%;
  width: 370px;
}

@media (min-width: 1260px) {
  .header-content input[type='text'] {
    width: 16.5em;
  }
}

@media (max-width: 1259px) {
  .header-content {
    width: 955px;
  }
  .header-content input[type='text'] {
    display: none;
  }
  .header-content .btn-search {
    border-radius: 3px 3px 3px 3px;
  }
}

@media (max-width: 991px) {
  .header-content {
    width: 725px;
  }
  .header-content input[type='text'] {
    width: 12.1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-content .btn-support,
  .header-content .btn-contact {
    display: none;
  }
}

@media (max-width: 767px) {
  .header-content {
    width: calc(100% - 30px);
  }
  .header-content .search {
    display: none;
  }
  .header-content .btn-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.btn-support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-support a {
  background: #4082D6;
  padding: 0.3em 0.9em;
}

.btn-support a:hover {
  background: #2664b2;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.btn-support i {
  font-size: 23px;
  margin: 0.5em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-support p {
  font-size: 18px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.3em;
}

.btn-contact a {
  background: #999aa2;
  padding: 0.9em 0.9em;
}

.btn-contact a:hover {
  background: #797a85;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.btn-contact i {
  font-size: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-contact p {
  font-size: 18px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-phone {
  display: none;
  color: #333645;
  font-size: 1.5em;
  margin: auto auto 0.9em;
}

.btn-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  padding-left: 1.3em;
}

.btn-menu a {
  background: #333645;
  padding: 0.32em 0.9em;
}

.btn-menu a:hover {
  background: #191a22;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.btn-menu .burger {
  height: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.3em 0 0.2em;
}

.btn-menu .burger span {
  background-color: white;
  color: white;
  height: 3px;
  border: none;
}

.btn-menu p {
  font-size: 0.75em;
  margin: auto;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.3em;
}

.search input {
  padding-left: 1em;
  font-size: 0.9em;
  color: #555;
  border: 1px solid #d6d6d6;
  -webkit-box-shadow: inset 0 0 0.1em 0.01em #d6d6d6;
          box-shadow: inset 0 0 0.1em 0.01em #d6d6d6;
}

.search input:focus {
  outline: none;
  border: 1px solid #74c8f2;
  -webkit-box-shadow: 0 0 0.5em 0 #74c8f2;
          box-shadow: 0 0 0.5em 0 #74c8f2;
}

.search .btn-search a {
  background: #999aa2;
  border-radius: 0 3px 3px 0;
  height: 3.5em;
  width: 3.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search .btn-search a:hover {
  background: #797a85;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

@media (max-width: 1259px) {
  .search .btn-search a {
    border-radius: 3px;
  }
}

@media (max-width: 991px) {
  .search .btn-search a {
    border-radius: 0 3px 3px 0;
  }
}

.search i {
  font-size: 23px;
}

.search-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100% - 50px);
  height: 47px;
  margin: 20px auto auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.search-mobile input {
  padding-left: 1em;
  height: 100px;
  width: 100%;
  background-color: #e5e5e5;
  border: 0.2em solid #cecece;
  border-radius: 0.1em;
  -webkit-box-shadow: inset 0 0 0.5em 0.01em #d6d6d6;
          box-shadow: inset 0 0 0.5em 0.01em #d6d6d6;
}

.search-mobile input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.search-mobile i {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (min-width: 767px) {
  .search-mobile {
    display: none;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #333645;
  border-bottom: 1px solid grey;
}

@media (max-width: 990px) {
  nav {
    display: none;
  }
}

nav .nav-content {
  width: 1200px;
}

@media (max-width: 1259px) {
  nav .nav-content {
    width: 970px;
  }
}

nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
  border-left: 1px solid #494d62;
  border-right: 1px solid #1d1f28;
  line-height: 1em;
}

nav .nav-list-items {
  border-right: 1px solid #494d62;
  border-left: 1px solid #1d1f28;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

nav .nav-list-items .nav-links {
  display: block;
  padding: 1.3em 0;
}

nav .nav-list-items a,
nav .nav-list-items {
  text-decoration: none;
  text-align: center;
  color: white;
  width: 197px;
}

@media (max-width: 1259px) {
  nav .nav-list-items a,
  nav .nav-list-items {
    width: 160px;
  }
}

nav small {
  font-size: 0.63em;
}

nav i {
  font-size: 1.4em;
}

.nav-list-web i {
  color: #926FB1;
}

.nav-list-web:hover {
  background-color: #926FB1;
}

.nav-list-web:hover i {
  color: white;
}

.nav-list-it i {
  color: #4082D6;
}

.nav-list-it:hover {
  background-color: #4082D6;
}

.nav-list-it:hover i {
  color: white;
}

.nav-list-telecoms i {
  color: #D64541;
}

.nav-list-telecoms:hover {
  background-color: #D64541;
}

.nav-list-telecoms:hover i {
  color: white;
}

.nav-list-software i {
  color: #657E9C;
}

.nav-list-software:hover {
  background-color: #657E9C;
}

.nav-list-software:hover i {
  color: white;
}

.nav-list-marketing i {
  color: #2DCB70;
}

.nav-list-marketing:hover {
  background-color: #2DCB70;
}

.nav-list-marketing:hover i {
  color: white;
}

.nav-list-cyber i {
  color: #F62459;
}

.nav-list-cyber:hover {
  background-color: #F62459;
}

.nav-list-cyber:hover i {
  color: white;
}

.nav-web:hover + .web-dropdown,
.web-dropdown:hover,
.nav-it:hover + .it-dropdown,
.it-dropdown:hover,
.nav-telecoms:hover + .telecoms-dropdown,
.telecoms-dropdown:hover,
.nav-software:hover + .software-dropdown,
.software-dropdown:hover,
.nav-marketing:hover + .marketing-dropdown,
.marketing-dropdown:hover,
.nav-cyber:hover + .cyber-dropdown,
.cyber-dropdown:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.web-dropdown {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  z-index: 10;
  background-color: #79539a;
  width: 100%;
  padding: 0.9em 0;
}

.web-dropdown ul {
  width: 1200px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1259px) {
  .web-dropdown ul {
    width: 970px;
    font-size: 0.8em;
  }
}

.web-dropdown li:nth-of-type(1)::after,
.web-dropdown li:nth-of-type(2)::after,
.web-dropdown li:nth-of-type(3)::after,
.web-dropdown li:nth-of-type(4)::after,
.web-dropdown li:nth-of-type(5)::after {
  content: '-';
  margin: 0 2em;
}

.it-dropdown {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  z-index: 10;
  background-color: #286abd;
  width: 100%;
  padding: 0.9em 0;
}

.it-dropdown ul {
  width: 1200px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1259px) {
  .it-dropdown ul {
    width: 970px;
    font-size: 0.8em;
  }
}

.it-dropdown li:nth-of-type(1)::after,
.it-dropdown li:nth-of-type(2)::after,
.it-dropdown li:nth-of-type(3)::after,
.it-dropdown li:nth-of-type(4)::after,
.it-dropdown li:nth-of-type(5)::after {
  content: '-';
  margin: 0 2em;
}

.telecoms-dropdown {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  z-index: 10;
  background-color: #bc2c28;
  width: 100%;
  padding: 0.9em 0;
}

.telecoms-dropdown ul {
  width: 1200px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1259px) {
  .telecoms-dropdown ul {
    width: 970px;
    font-size: 0.8em;
  }
}

.telecoms-dropdown li:nth-of-type(1)::after,
.telecoms-dropdown li:nth-of-type(2)::after,
.telecoms-dropdown li:nth-of-type(3)::after,
.telecoms-dropdown li:nth-of-type(4)::after,
.telecoms-dropdown li:nth-of-type(5)::after {
  content: '-';
  margin: 0 2em;
}

.software-dropdown {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  z-index: 10;
  background-color: #526781;
  width: 100%;
  padding: 0.9em 0;
}

.software-dropdown ul {
  width: 1200px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1259px) {
  .software-dropdown ul {
    width: 970px;
    font-size: 0.8em;
  }
}

.software-dropdown li:nth-of-type(1)::after,
.software-dropdown li:nth-of-type(2)::after,
.software-dropdown li:nth-of-type(3)::after,
.software-dropdown li:nth-of-type(4)::after,
.software-dropdown li:nth-of-type(5)::after {
  content: '-';
  margin: 0 2em;
}

.marketing-dropdown {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  z-index: 10;
  background-color: #25a25a;
  width: 100%;
  padding: 0.9em 0;
}

.marketing-dropdown ul {
  width: 1200px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1259px) {
  .marketing-dropdown ul {
    width: 970px;
    font-size: 0.8em;
  }
}

.marketing-dropdown li:nth-of-type(1)::after,
.marketing-dropdown li:nth-of-type(2)::after,
.marketing-dropdown li:nth-of-type(3)::after,
.marketing-dropdown li:nth-of-type(4)::after,
.marketing-dropdown li:nth-of-type(5)::after {
  content: '-';
  margin: 0 2em;
}

.cyber-dropdown {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  z-index: 10;
  background-color: #de093f;
  width: 100%;
  padding: 0.9em 0;
}

.cyber-dropdown ul {
  width: 1200px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1259px) {
  .cyber-dropdown ul {
    width: 970px;
    font-size: 0.8em;
  }
}

.cyber-dropdown li:nth-of-type(1)::after,
.cyber-dropdown li:nth-of-type(2)::after,
.cyber-dropdown li:nth-of-type(3)::after,
.cyber-dropdown li:nth-of-type(4)::after,
.cyber-dropdown li:nth-of-type(5)::after {
  content: '-';
  margin: 0 2em;
}

.slide1 {
  background-image: -webkit-gradient(linear, left top, right top, from(black), to(rgba(0, 0, 0, 0))), url("../assets/images/home-3wAI.jpg");
  background-image: linear-gradient(0.25turn, black, rgba(0, 0, 0, 0)), url("../assets/images/home-3wAI.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: calc(100vh - 204px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .slide1 {
    height: calc(100vh - 104px);
  }
}

@media (max-width: 767px) {
  .slide1 {
    height: calc(100vh - 171px);
  }
}

.slide1 .btn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .slide1 .btn-more {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.slide1 .btn-more a {
  background: #926FB1;
  padding: 1em;
}

.slide1 .btn-more a:hover {
  background: #735093;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.slide1 .btn-more span {
  margin: auto;
  font-size: 1.25em;
}

.slide1 .btn-more i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8em;
}

.slide2 {
  background-image: -webkit-gradient(linear, left top, right top, from(black), to(rgba(0, 0, 0, 0))), url("../assets/images/asset 4.jpeg");
  background-image: linear-gradient(0.25turn, black, rgba(0, 0, 0, 0)), url("../assets/images/asset 4.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: calc(100vh - 204px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .slide2 {
    height: calc(100vh - 104px);
  }
}

@media (max-width: 767px) {
  .slide2 {
    height: calc(100vh - 171px);
  }
}

.slide2 .btn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .slide2 .btn-more {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.slide2 .btn-more a {
  background: #4082D6;
  padding: 1em;
}

.slide2 .btn-more a:hover {
  background: #2664b2;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.slide2 .btn-more span {
  margin: auto;
  font-size: 1.25em;
}

.slide2 .btn-more i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8em;
}

.slide3 {
  background-image: -webkit-gradient(linear, left top, right top, from(black), to(rgba(0, 0, 0, 0))), url("../assets/images/asset 5.jpeg");
  background-image: linear-gradient(0.25turn, black, rgba(0, 0, 0, 0)), url("../assets/images/asset 5.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: calc(100vh - 204px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .slide3 {
    height: calc(100vh - 104px);
  }
}

@media (max-width: 767px) {
  .slide3 {
    height: calc(100vh - 171px);
  }
}

.slide3 .btn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .slide3 .btn-more {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.slide3 .btn-more a {
  background: #D64541;
  padding: 1em;
}

.slide3 .btn-more a:hover {
  background: #b32a27;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.slide3 .btn-more span {
  margin: auto;
  font-size: 1.25em;
}

.slide3 .btn-more i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8em;
}

.slide4 {
  background-image: -webkit-gradient(linear, left top, right top, from(black), to(rgba(0, 0, 0, 0))), url("../assets/images/asset 6.jpeg");
  background-image: linear-gradient(0.25turn, black, rgba(0, 0, 0, 0)), url("../assets/images/asset 6.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: calc(100vh - 204px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .slide4 {
    height: calc(100vh - 104px);
  }
}

@media (max-width: 767px) {
  .slide4 {
    height: calc(100vh - 171px);
  }
}

.slide4 .btn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .slide4 .btn-more {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.slide4 .btn-more a {
  background: #657E9C;
  padding: 1em;
}

.slide4 .btn-more a:hover {
  background: #4d6077;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.slide4 .btn-more span {
  margin: auto;
  font-size: 1.25em;
}

.slide4 .btn-more i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8em;
}

.slide5 {
  background-image: -webkit-gradient(linear, left top, right top, from(black), to(rgba(0, 0, 0, 0))), url("../assets/images/asset 1.jpeg");
  background-image: linear-gradient(0.25turn, black, rgba(0, 0, 0, 0)), url("../assets/images/asset 1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: calc(100vh - 204px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .slide5 {
    height: calc(100vh - 104px);
  }
}

@media (max-width: 767px) {
  .slide5 {
    height: calc(100vh - 171px);
  }
}

.slide5 .btn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .slide5 .btn-more {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.slide5 .btn-more a {
  background: #2DCB70;
  padding: 1em;
}

.slide5 .btn-more a:hover {
  background: #229954;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.slide5 .btn-more span {
  margin: auto;
  font-size: 1.25em;
}

.slide5 .btn-more i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8em;
}

.slide6 {
  background-image: -webkit-gradient(linear, left top, right top, from(black), to(rgba(0, 0, 0, 0))), url("../assets/images/asset 2.jpeg");
  background-image: linear-gradient(0.25turn, black, rgba(0, 0, 0, 0)), url("../assets/images/asset 2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: calc(100vh - 204px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .slide6 {
    height: calc(100vh - 104px);
  }
}

@media (max-width: 767px) {
  .slide6 {
    height: calc(100vh - 171px);
  }
}

.slide6 .btn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .slide6 .btn-more {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.slide6 .btn-more a {
  background: #F62459;
  padding: 1em;
}

.slide6 .btn-more a:hover {
  background: #d4093c;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.slide6 .btn-more span {
  margin: auto;
  font-size: 1.25em;
}

.slide6 .btn-more i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8em;
}

.slider-text {
  width: 1200px;
  max-width: 90%;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

@media (max-width: 767px) {
  .slider-text {
    text-align: center;
  }
}

.slider-text h1 {
  font-size: 3em;
  margin-bottom: 0.54em;
  font-weight: 400;
}

.slider-text p {
  font-size: 1.25em;
  margin-bottom: 1.75em;
}

.slick-dots {
  bottom: 2em;
}

.slick-dots li button::before {
  font-size: 13px;
  color: white;
}

.slick-dots li.slick-active button:before {
  color: white;
  border: 2px solid white;
  border-radius: 50%;
}

.card {
  margin-bottom: 4em;
  margin-top: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards {
  margin: 2em auto;
  max-width: 1200px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1259px) {
  .cards {
    width: 970px;
  }
}

@media (max-width: 991px) {
  .cards {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .cards {
    max-width: 94%;
  }
}

.cards a {
  text-decoration: none;
  padding: 1.5em 1em;
  border: 1px solid lightgrey;
  -webkit-box-shadow: 0 0 1.8em 0.05em #e5e5e5;
          box-shadow: 0 0 1.8em 0.05em #e5e5e5;
  border-radius: 0.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.cards .btn {
  text-align: center;
  margin: auto;
  padding: 0.7em 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 6em;
}

.cards h1 {
  font-size: 18px;
  font-weight: 400;
  color: #4e4e4e;
}

.cards p {
  margin-bottom: 1.25em;
  font-size: 13px;
  color: #4e4e4e;
}

.cards hr {
  width: 30px;
  border-top: 2px solid;
  margin: auto;
}

.card-icons {
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
}

.card:nth-child(1),
.card:nth-child(2),
.card:nth-child(3) {
  width: 31.5%;
}

@media (max-width: 991px) {
  .card:nth-child(1),
  .card:nth-child(2),
  .card:nth-child(3) {
    width: 100%;
  }
}

.card:nth-child(4),
.card:nth-child(5),
.card:nth-child(6),
.card:nth-child(7) {
  width: 23%;
}

@media (max-width: 1259px) {
  .card:nth-child(4),
  .card:nth-child(5),
  .card:nth-child(6),
  .card:nth-child(7) {
    width: 48.5%;
  }
}

@media (max-width: 767px) {
  .card:nth-child(4),
  .card:nth-child(5),
  .card:nth-child(6),
  .card:nth-child(7) {
    width: 100%;
  }
}

.card-software {
  background: white;
}

.card-software span,
.card-software i {
  background: #657E9C;
  color: white;
}

.card-software hr {
  color: #3f3f3f;
}

.card-software:hover {
  background: #657E9C;
  color: white;
}

.card-software:hover span,
.card-software:hover i {
  background: white;
  color: #657E9C;
}

.card-software:hover hr,
.card-software:hover h1,
.card-software:hover p {
  color: white;
}

.card-it {
  background: white;
}

.card-it span,
.card-it i {
  background: #4082D6;
  color: white;
}

.card-it hr {
  color: #3f3f3f;
}

.card-it:hover {
  background: #4082D6;
  color: white;
}

.card-it:hover span,
.card-it:hover i {
  background: white;
  color: #4082D6;
}

.card-it:hover hr,
.card-it:hover h1,
.card-it:hover p {
  color: white;
}

.card-marketing {
  background: white;
}

.card-marketing span,
.card-marketing i {
  background: #2DCB70;
  color: white;
}

.card-marketing hr {
  color: #3f3f3f;
}

.card-marketing:hover {
  background: #2DCB70;
  color: white;
}

.card-marketing:hover span,
.card-marketing:hover i {
  background: white;
  color: #2DCB70;
}

.card-marketing:hover hr,
.card-marketing:hover h1,
.card-marketing:hover p {
  color: white;
}

.card-telecoms {
  background: white;
}

.card-telecoms span,
.card-telecoms i {
  background: #D64541;
  color: white;
}

.card-telecoms hr {
  color: #3f3f3f;
}

.card-telecoms:hover {
  background: #D64541;
  color: white;
}

.card-telecoms:hover span,
.card-telecoms:hover i {
  background: white;
  color: #D64541;
}

.card-telecoms:hover hr,
.card-telecoms:hover h1,
.card-telecoms:hover p {
  color: white;
}

.card-web-design {
  background: white;
}

.card-web-design span,
.card-web-design i {
  background: #926FB1;
  color: white;
}

.card-web-design hr {
  color: #3f3f3f;
}

.card-web-design:hover {
  background: #926FB1;
  color: white;
}

.card-web-design:hover span,
.card-web-design:hover i {
  background: white;
  color: #926FB1;
}

.card-web-design:hover hr,
.card-web-design:hover h1,
.card-web-design:hover p {
  color: white;
}

.card-cyber {
  background: white;
}

.card-cyber span,
.card-cyber i {
  background: #F62459;
  color: white;
}

.card-cyber hr {
  color: #3f3f3f;
}

.card-cyber:hover {
  background: #F62459;
  color: white;
}

.card-cyber:hover span,
.card-cyber:hover i {
  background: white;
  color: #F62459;
}

.card-cyber:hover hr,
.card-cyber:hover h1,
.card-cyber:hover p {
  color: white;
}

.card-training {
  background: white;
}

.card-training span,
.card-training i {
  background: #926FB1;
  color: white;
}

.card-training hr {
  color: #3f3f3f;
}

.card-training:hover {
  background: #926FB1;
  color: white;
}

.card-training:hover span,
.card-training:hover i {
  background: white;
  color: #926FB1;
}

.card-training:hover hr,
.card-training:hover h1,
.card-training:hover p {
  color: white;
}

.about-image {
  background-color: #333645;
  background-image: url("/assets/images/netmatters-logo-bg.png");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 991px) {
  .about-image {
    background-image: none;
  }
}

.about-image .about-text {
  width: 1200px;
  max-width: 95%;
  color: white;
  padding: 1.5em 0 3em;
}

@media (max-width: 991px) {
  .about-image .about-text {
    width: calc(100% - 30px);
    max-width: 720px;
  }
}

.about-image .about-text h2 {
  font-size: 36px;
  padding-bottom: 0.3em;
}

.about-image .about-text h2,
.about-image .about-text p,
.about-image .about-text h3 {
  width: 600px;
  max-width: 100%;
  line-height: 2em;
  font-weight: 400;
}

@media (max-width: 991px) {
  .about-image .about-text h2,
  .about-image .about-text p,
  .about-image .about-text h3 {
    width: 750px;
  }
}

.about-image .about-text h3 {
  font-size: 16px;
  font-weight: 600;
}

.about-image .about-text a {
  color: #333645;
  width: 10em;
  padding: 0.3em 0.4em;
  background: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-image .about-text a:hover {
  background: #e0e0e0;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.about-image .about-text a p {
  margin: auto;
  font-size: 17px;
  text-align: center;
}

.about-image .about-text a i {
  font-size: 1.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.2em 0;
}

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0.5em 2em -2em gray;
          box-shadow: 0 0.5em 2em -2em gray;
}

.bar div {
  width: 1200px;
  max-width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bar div span {
  font-size: 1.3em;
  color: #333645;
  padding: 1.7em 0;
  border-bottom: 0.25em solid #333645;
}

.news-section {
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0.5em 2em -2em gray;
          box-shadow: 0 0.5em 2em -2em gray;
}

.news-section .news-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1200px;
}

@media (max-width: 1259px) {
  .news-section .news-cards {
    width: 970px;
  }
}

@media (max-width: 991px) {
  .news-section .news-cards {
    width: 750px;
  }
}

@media (max-width: 767px) {
  .news-section .news-cards {
    width: 100%;
  }
}

.news-section .news-card {
  width: 370px;
  margin: 15px;
}

@media (max-width: 1259px) {
  .news-section .news-card {
    width: 455px;
  }
  .news-section .news-card:nth-child(3) {
    display: none;
  }
}

@media (max-width: 991px) {
  .news-section .news-card {
    width: 345px;
  }
}

@media (max-width: 767px) {
  .news-section .news-card {
    width: 100%;
  }
  .news-section .news-card:nth-child(3) {
    display: block;
  }
}

.news-section .news-container {
  border: 1px solid #ccc;
  border-radius: 0 0 3px 3px;
  border-top: none;
  padding: 1.65em;
  height: 20em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 1.8em 0.05em #e5e5e5;
          box-shadow: 0 0 1.8em 0.05em #e5e5e5;
}

.news-section .news p {
  font-size: 0.81em;
  color: #666;
  margin: auto 0 2em;
}

.news-section .news .news-headline {
  color: #926FB1;
  font-size: 16px;
  font-weight: 600;
}

.news-section .news .news-headline:not(:hover) {
  text-decoration: none;
}

.news-section .news h3 {
  margin-bottom: auto;
}

.news-section .case-studies p {
  font-size: 0.81em;
  color: #666;
  margin: auto 0 2em;
}

.news-section .case-studies .news-headline {
  color: #2DCB70;
  font-size: 16px;
  font-weight: 600;
}

.news-section .case-studies .news-headline:not(:hover) {
  text-decoration: none;
}

.news-section .case-studies h3 {
  margin-bottom: auto;
}

.news-section .img-wrapper {
  overflow: hidden;
  position: relative;
}

.news-section .catagory-news {
  position: absolute;
  top: 10px;
  right: 0px;
  color: white;
  padding: 0.1em 0.8em;
  background-color: #926FB1;
  z-index: 1;
  font-size: 0.75em;
}

.news-section .catagory-news:not(:hover) {
  text-decoration: none;
}

.news-section .catagory-case-studies {
  position: absolute;
  top: 10px;
  right: 0px;
  color: white;
  padding: 0.1em 0.8em;
  background-color: #2DCB70;
  z-index: 1;
  font-size: 0.75em;
}

.news-section .catagory-case-studies:not(:hover) {
  text-decoration: none;
}

.news-section .img-wrapper img {
  border-radius: 3px 3px 0 0;
  display: block;
  width: 100%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.news-section .img-wrapper img:hover {
  opacity: 0.75;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.news-section .btn-news {
  background: #926fb1;
  width: 6em;
  padding: 0.7em 1em;
  margin-top: auto;
}

.news-section .btn-news:hover {
  background: #735093;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.news-section .btn-case-studies {
  background: #2DCB70;
  width: 6em;
  padding: 0.7em 1em;
  margin-top: auto;
}

.news-section .btn-case-studies:hover {
  background: #229954;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.news-section hr {
  width: 100%;
  border: none;
  height: 0.1em;
  background-color: lightgray;
  margin-top: 1.8em;
}

.news-section .author {
  margin-top: 1.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-section .author img {
  width: 3em;
  height: 3em;
  margin-right: 1.5em;
}

.news-section .author h4,
.news-section .author span {
  font-size: 0.88em;
}

.client-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3.125em 0;
}

@media (max-width: 767px) {
  .client-section {
    display: none;
  }
}

.client-section .client-logos {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

@media (max-width: 1259px) {
  .client-section .client-logos {
    width: 970px;
  }
}

@media (max-width: 991px) {
  .client-section .client-logos {
    width: 750px;
  }
}

@media (max-width: 1259px) {
  .client-section img {
    height: 3.93em;
  }
}

@media (max-width: 991px) {
  .client-section img {
    height: 2.82em;
  }
}

.client-section a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client-section .client-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client-section .client-item:not(:hover) .box {
  display: none;
}

.client-section .client-item:not(:hover) .image-hover {
  display: none;
}

.client-section .client-item:hover .image-greyscale {
  display: none;
}

.client-section .box {
  position: absolute;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  font-weight: 400;
  text-align: center;
  color: white;
  background-color: #333645;
  width: 260px;
  bottom: 120px;
  left: 50%;
  right: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.client-section .box h3 {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  padding: 20px 0 15px;
}

.client-section .box h3::after {
  position: absolute;
  -webkit-transform-origin: right;
          transform-origin: right;
  content: '';
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(115px);
          transform: translateX(115px);
  height: 0.15em;
  width: 30px;
  background-color: white;
}

.client-section .box p {
  font-size: 0.8125rem;
  padding: 10px 20px 20px;
}

.client-section .box .arrow {
  position: absolute;
  bottom: -35px;
  left: -36px;
  -webkit-transform: translateX(130px);
          transform: translateX(130px);
  border-left: 36px solid transparent;
  border-right: 36px solid transparent;
  border-top: 35px solid #333645;
}

.newsletter {
  color: #333645;
  background-color: #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newsletter h1 {
  font-weight: normal;
  line-height: 1.1em;
}

.newsletter .newsletter-form {
  width: 1200px;
}

@media (max-width: 1259px) {
  .newsletter .newsletter-form {
    width: 970px;
  }
}

@media (max-width: 991px) {
  .newsletter .newsletter-form {
    width: 750px;
  }
}

.newsletter form {
  padding: 2.8125em;
}

.newsletter .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1em;
}

@media (max-width: 991px) {
  .newsletter .input-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.newsletter .input-wrapper label {
  font-weight: bold;
}

.newsletter .input-wrapper label::after {
  content: ' *';
  color: #db2b2b;
}

.newsletter .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1em;
}

.newsletter input[type='text'] {
  width: 540px;
  padding: 1em 1em;
  border: 1px solid #ccc;
  border-radius: 2.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1259px) {
  .newsletter input[type='text'] {
    width: 425px;
  }
}

@media (max-width: 991px) {
  .newsletter input[type='text'] {
    width: 100%;
  }
}

.newsletter input[type='text']:focus {
  outline: none;
  border: 1px solid #74c8f2;
  -webkit-box-shadow: 0 0 0.5em 0 #74c8f2;
          box-shadow: 0 0 0.5em 0 #74c8f2;
}

.newsletter .checkbox-container {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 2em;
  cursor: pointer;
}

.newsletter .checkbox-container input {
  opacity: 0;
  width: 2em;
  height: 2em;
  cursor: pointer;
}

.newsletter .checkbox-container input:checked ~ .checkmark {
  background-color: #333645;
}

.newsletter .checkbox-container input:checked ~ .checkmark::after,
.newsletter .checkbox-container input:checked ~ .checkmark::before {
  display: block;
}

.newsletter .checkmark {
  position: relative;
  width: 0;
  height: 0;
  padding: 0.8em;
  border-radius: 0.15em;
  border: 0.2em solid #333645;
}

.newsletter .checkmark::before {
  display: none;
  position: absolute;
  bottom: 0.4em;
  height: 30%;
  width: 0.15em;
  background-color: white;
  content: '';
  -webkit-transform: translateX(-0.2em) rotate(-45deg);
          transform: translateX(-0.2em) rotate(-45deg);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

.newsletter .checkmark::after {
  display: none;
  position: absolute;
  bottom: 0.4em;
  height: 0.12em;
  width: 60%;
  background-color: white;
  content: '';
  -webkit-transform: translateX(-0.2em) rotate(-45deg);
          transform: translateX(-0.2em) rotate(-45deg);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

.newsletter input[type='submit'] {
  background-color: #333645;
  color: white;
  padding: 1em;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-top: 2em;
}

.newsletter input[type='submit']:hover {
  background-color: #22242e;
  cursor: pointer;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 31px 0 43px;
  background-color: #333645;
  color: white;
}

footer h4 {
  font-weight: normal;
  text-transform: uppercase;
}

footer p {
  font-size: 13px;
  margin-top: 1.5em;
}

footer p a {
  color: white;
}

footer p a:not(:hover) {
  text-decoration: none;
}

footer .footer-content {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1259px) {
  footer .footer-content {
    width: 970px;
  }
}

@media (max-width: 991px) {
  footer .footer-content {
    width: 750px;
  }
}

@media (max-width: 767px) {
  footer .footer-content {
    width: 100%;
  }
}

footer .footer-content .footer-container {
  width: 270px;
  margin: 1em 0;
  padding: 0 15px;
}

@media (max-width: 1259px) {
  footer .footer-content .footer-container {
    width: 455px;
    margin: 1em 0 0;
  }
}

@media (max-width: 991px) {
  footer .footer-content .footer-container {
    width: 345px;
  }
}

@media (max-width: 767px) {
  footer .footer-content .footer-container {
    width: 100%;
  }
}

footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

footer .social-icons a {
  text-decoration: none;
  color: white;
  font-size: 2em;
  background-color: #262833;
  padding: 0.2595em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3.75em;
  margin-top: 19.5px;
}

footer .social-icons a:nth-of-type(1):hover {
  background-color: #395899;
}

footer .social-icons a:nth-of-type(2):hover {
  background-color: #1da1f2;
}

footer .social-icons a:nth-of-type(3) {
  margin-top: 1em;
}

footer .social-icons a:nth-of-type(3):hover {
  background-color: #0077b7;
}

@media (max-width: 1259px) {
  footer .social-icons a {
    width: 6.65em;
  }
}

@media (max-width: 991px) {
  footer .social-icons a {
    width: 4.92em;
  }
}

@media (max-width: 767px) {
  footer .social-icons a {
    width: calc(50% - 15px);
    margin: 15px 0;
  }
}

.awards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .awards {
    display: none;
  }
}

.awards .awards-container {
  width: 1200px;
  max-width: 90%;
  padding: 1.5em;
}

.awards .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.8em 0;
}

.awards .image-container:not(:hover) .image-hover {
  display: none;
}

.awards .image-container:hover .image-greyscale {
  display: none;
}

.awards img {
  height: 100%;
}

@media (max-width: 991px) {
  .awards img {
    max-height: 4em;
  }
}

.awards .top .image-container {
  height: 70px;
}

@media (max-width: 991px) {
  .awards .top .image-container {
    max-height: 58px;
  }
}

.awards .bottom .image-container {
  height: 58px;
}

.awards .google-partner {
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.116);
          box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.116);
}
/*# sourceMappingURL=styles.css.map */