// Partial imports
@import "../scss/partials/mixins.scss",
"../scss/partials/variables.scss";

// Webfonts
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// Basic Elements
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    letter-spacing: .8px;
}

.btn {
    @include btn-style();
    display: flex;
}

// Header 

header {
    padding: 20px 0;
    
}

.header-content {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    img {
    max-width: 100%;
    width: 370px;
    }
    @media (min-width: 1260px) {
        input[type=text] {
            width: 18em;
        }
    }
    @media (max-width: 1259px) {
        width: 970px;
        input[type=text] {
            display: none;
        }
        .btn-search {
            border-radius: 3px 3px 3px 3px;
        }
    }
    @media (max-width: 991px) {
        width: 750px;
        input[type=text] {
            width: 13em;
            display: flex;
        }
        .btn-support,
        .btn-contact {
            display: none;
        }
    }
    @media (max-width: 767px) {
        width: 95%;
        .search {
            display: none;
        }
        .btn-phone {
            display: flex;
        }
    }
}


.header-nav {
    display: flex;
    div {
        display: flex;
        margin: auto;
        padding-left: 1.3em;
    }
}

.btn-support {
   @include btn-hover(#4183d7);
   padding: .3em .9em;
   i {
        font-size: 23px;
        margin: .5em auto;
        display: flex;
    }
    p {
        font-size: 18px;
        margin: auto;
    }
}

.btn-contact {
    @include btn-hover(#999aa2); 
    padding: .3em .9em;
    i {
        font-size: 23px;
        margin: .5em .1em;
        display: flex;
    }
    p {
        font-size: 18px;
        margin: auto;
    }
}

.btn-phone {
    display: none;
    color: #333645;
    font-size: 1.5em;
    margin: auto auto .9em;
}

.btn-menu {
    @include btn-hover(#333645);
    display: flex; 
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: .45em 1em;
    hr {
        margin: .15em auto .15em auto;
        color: white;
    }
    p {
        font-size: .75em;
        margin: auto;
    }
}

.search {
    .btn-search {
        @include btn-hover(#999aa2);
        border-radius: 0 3px 3px 0;
        padding: .3em .9em;
    }
    i {
        font-size: 23px;
        margin: .5em .1em;
        display: flex;
    }
}

.search-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    height: 47px;;
    margin: 20px auto auto auto;
    input {
        height: 100px;
        width: 100%;
    }
    i {
        position: absolute;
        display: flex;
        justify-content: right;
    }
    @media (min-width: 767px) {
        display: none;
    }
}


// Navbar
nav {
    display: flex;
    justify-content: center;
    background-color: $nav-bar-col;
    @media (max-width: 990px) {
        display: none;
    }
    .nav-content {
        width: 1200px;
        @media (max-width: 1260px) {
            width: 970px;
        }
    }
    .nav-list {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        border-left: 1px solid lighten($nav-bar-col,10%);
        border-right: 1px solid darken($nav-bar-col,10%);
    }
    .nav-list-items {
        border-right: 1px solid lighten($nav-bar-col,10%);
        border-left: 1px solid darken($nav-bar-col,10%);
        flex-grow: 1;
        .nav-links {
            display: block;
            padding: .5em;
        }
    }
    li a,
    small, 
    li  {
        text-decoration: none;
        text-align: center;
        color: white;
        padding: 2;
    }
    i {
        font-size: 1.2em;        
    }
}

.nav-list-web {
    &:hover {
        background-color: $web-col;
        i {
            color: white;
        }
    }
    i {
        color: $web-col;
    }
}

.nav-list-it {
    &:hover {
        background-color: $it-col;
        i {
            color: white;
        }
    }
    i {
        color: $it-col;
    }
}

.nav-list-telecoms {
    &:hover {
        background-color: $telecoms-col;
        i {
            color: white;
        }
    }
    i {
        color: $telecoms-col;
    }
}

.nav-list-software {
    &:hover {
        background-color: $software-col;
        i {
            color: white;
        }
    }
    i {
        color: $software-col;
    }
}

.nav-list-marketing {
    &:hover {
        background-color: $marketing-col;
        i {
            color: white;
        }
    }
    i {
        color: $marketing-col;
    }
}

.nav-list-cyber {
    &:hover {
        background-color: $cyber-col;
        i {
            color: white;
        }
    }
    i {
        color: $cyber-col;
    }
}

// Nav Dropdown
.nav-web:hover + .web-dropdown, .web-dropdown:hover,
.nav-it:hover + .it-dropdown, .it-dropdown:hover,
.nav-telecoms:hover + .telecoms-dropdown, .telecoms-dropdown:hover,
.nav-software:hover + .software-dropdown, .software-dropdown:hover,
.nav-marketing:hover + .marketing-dropdown, .marketing-dropdown:hover,
.nav-cyber:hover + .cyber-dropdown, .cyber-dropdown:hover {
    display: flex;
}

.web-dropdown {
    @include dropdown(#79539A);
}

.it-dropdown {
    @include dropdown(#286ABD);
}

.telecoms-dropdown {
    @include dropdown(#BC2C28);
}

.software-dropdown {
    @include dropdown(#526781);
}

.marketing-dropdown {
    @include dropdown(#25A25A);
}

.cyber-dropdown {
    @include dropdown(#DE093F);
}

// Slider
.slider-image {
    background-image: linear-gradient(0.25turn, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url("/assets/images/home-3wAI.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: calc(100vh - 206.433px);
    display: flex;
    .slider-text {
        width: 1200px;
        text-align: left;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        h1 {
            font-size: 3em;
            margin-bottom: .54em;
        }
        p {
            font-size: 1.25em;
            margin-bottom: 1.75em;
        }
    }
    .btn-more {
        display: flex;
        a {
            @include btn-hover(#926FB1);
            padding: 1em;
        }
        span {
            margin: auto;
            font-size: 1.25em;
        }
        i {
            display: flex;
            font-size: 1.8em;
        }
    }
}
    

// Read More Services Cards

.card { // -------- Container that holds the cards
    margin-bottom: 4em;
    margin-top: 1em;
}

.cards { //-------- Card Items
    margin: 2em auto;
    width: 75%;
    max-width: 1200px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 990px) {
        justify-content: center;
        width: 100%;
    }
}

.card-software,
.card-it,
.card-marketing,
.card-telecoms,
.card-web-design,
.card-cyber,
.card-training { // ------- Card contents
    text-decoration: none;
    padding: 1.5em 1em;
    border: 1px solid lightgrey;
    box-shadow: 0 0 1.8em .05em #e5e5e5;
    border-radius: 0.25em;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-icons {
    background-color: #67809F;
    font-size: 1.5em;
    color: white;
    display: flex;
    border-radius: 50%;
    padding: .8em;
    margin: auto;    
}

.cards .btn {
    text-align: center;
    margin: auto;
    padding: .7em 1em;
}

.cards h1 {
    font-size: 18px;
}

.cards p {
    margin-bottom: 1.25em;
    font-size: 13px;
}


hr {
    width: 30px;
    border-top: 2px solid;
    margin: auto; 
}

// Card Responsive Layout

.card:nth-child(1),
.card:nth-child(2),
.card:nth-child(3) {
    width: 31.5%;
    @media (max-width: 990px) {
        width: 80%;
    }
}

.card:nth-child(4),
.card:nth-child(5),
.card:nth-child(6),
.card:nth-child(7) {
    width: 23%;
    @media (max-width: 1250px) {
        width: 48.5%;
    }
    @media (max-width: 990px) {
        width: 80%;
    }
}



// Card Buttons


.card-software {
    @include card-hover(#67809F);
    .btn,
    .card-icons {
        background: #67809F;
        color: white;
    }

    &:hover {
        .btn,
        .card-icons {
            background: white;
            color: #67809F;
        }
        hr {
            color: white;
        }
    }
}

.card-it {
    @include card-hover(#4183D7);
    .btn,
    .card-icons {
        background: #4183D7;
        color: white;
    }

    &:hover {
        .btn,
        .card-icons {
            background: white;
            color: #4183D7;
        }
        hr {
            color: white;
        }
    }
}

.card-marketing {
    @include card-hover(#2ECC71);
    .btn,
    .card-icons {
        background: #2ECC71;
        color: white;
    }

    &:hover {
        .btn,
        .card-icons {
            background: white;
            color: #2ECC71;
        }
        hr {
            color: white;
        }
    }
}

.card-telecoms {
    @include card-hover(#D64541);
    .btn,
    .card-icons {
        background: #D64541;
        color: white;
    }

    &:hover {
        .btn,
        .card-icons {
            background: white;
            color: #D64541;
        }
        hr {
            color: white;
        }
    }
}

.card-web-design {
    @include card-hover(#926FB1);
    .btn,
    .card-icons {
        background: #926FB1;
        color: white;
    }

    &:hover {
        .btn,
        .card-icons {
            background: white;
            color: #926FB1;
        }
        hr {
            color: white;
        }
    }
}

.card-cyber {
    @include card-hover(#F62459);
    .btn,
    .card-icons {
        background: #F62459;
        color: white;
    }

    &:hover {
        .btn,
        .card-icons {
            background: white;
            color: #F62459;
        }
        hr {
            color: white;
        }
    }
}

.card-training {
    @include card-hover(#926FB1);
    .btn,
    .card-icons {
        background: #926FB1;
        color: white;
    }

    &:hover {
        .btn,
        .card-icons {
            background: white;
            color: #926FB1;
        }
        hr {
            color: white;
        }
    }
}


// About Section
.about-image {
    background-color: #333645;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    .about-text {
        width: 1200px;
        max-width: 95%;
        background-image: url("assets/images/about_image.png");
        color: white;
        padding: 3em 0;
        h1,
        p {
            width: 600px;
            max-width: 100%;
            margin-bottom: .5em;
        }
        a {
            color: #333645;
            width: 10em;
            padding: .3em .4em;
            @include btn-hover(white);
            p {
                margin: auto;
                font-size: 17px;
                text-align: center;
            }
            i {
                font-size: 1.8em;
                display: flex;
                margin: .2em 0;
            }
        }
    }
}

// Divider Bar
.bar {
    display: flex;
    justify-content: center;
    box-shadow: 0 .5em 2em -2em gray;
    div {
        width: 1200px;
        max-width: 95%;
        span {
            display: flex;
        }
        h1 {
            font-size: 1.3em;
            color: #333645;
            padding: 1.7em 0;
            border-bottom: .25em solid #333645;
        }
    }
}

// News Cards
.news-section {
    padding: 3em 0; 
    display: flex;
    justify-content: center;
    box-shadow: 0 .5em 2em -2em gray;
    .news-cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 1200px;
        max-width: 95%;
        .news-card {
            width: 370px;
            .news-container {
                border: 1px solid #ccc;
                border-radius: 0 0 3px 3px;
                border-top: none;
                padding: 2em;
                .btn {
                    @include btn-hover(#926FB1);
                    width: 6em;
                    padding: .7em 1em;
                }
                h1, 
                p {
                    margin-bottom: 1em;
                }
            }
            img {
                border-radius: 3px 3px 0 0;
                display: block;
                width: 100%;
            }
            hr {
                width: 100%;
                border: .01em solid #ccc;
            }
        }
    }
}

// Client Section
.client-section {
    display: flex;
    justify-content: center;
    padding: 2em 0;
    .client-logos {
        width: 1200px;
        display: flex;
        justify-content: space-around;
    }
}

// Newsletter Sign-Up
.newsletter {
    background-color: #DDDDDD;
    display: flex;
    justify-content: center;
    .newsletter-form {
        width: 1200px;
        form {
            padding: 2em;
            .checkbox {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                span {
                    padding: 1em;
                }
            }
        }
        .input-wrapper {
            display: flex;
            justify-content: space-between;
            .form-group {
                display: flex;
                flex-direction: column;
            }
        }
        input[type=text] {
            width: 540px;
            padding: 1em 1em;
            border: 1px solid #ccc;
            border-radius: 2.5px;
            box-sizing: border-box;
            &:focus {
                border: 1px solid #74c8f2;
                box-shadow: 0 0 .5em 0 #74c8f2;
            }
        }
    }
}

// Footer
footer {
    display: flex;
    justify-content: center;
    padding: 3em 0;
    background-color: #333645;
    color: white;
    h3 {
        font-size: 16px;
    }
    p {
        font-size: 13px;
    }
    .footer-content {
        width: 1200px;
        display: flex;
        justify-content: space-between;
    }
}

// Awards
.awards {
    @media (max-width: 767px) {
        display: none;
    }
    display: flex;
    justify-content: center;
    .logo-container {
        padding: 3em;
        width: 1200px;
        max-width: 95%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        img {
            width: auto;
            height: 5em;
            margin: 1em 2em;
        }
    }
}