.contact-section {
    display: flex;
    justify-content: center;
    padding: 280px 0 5em;
    background-color: white;

    @media (max-width: 991px) {
        padding: 210px 0 5em;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 1.56em;

        strong {
            font-weight: 600;
        }
    }

    a {
        font-size: 26px;
        font-weight: 600;
        color: $web-col;

        &:not(:hover) {
            text-decoration: none;
        }
    }
}

.contact-wrapper {
    width: 1200px;
    display: flex;
}

.contact-card {
    padding: 3em;
    width: 100%;
    height: fit-content;
    background-color: #E6E7E9;
    border-radius: .4em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    h1 {
        font-weight: normal;
        line-height: 1.1em;
        margin-bottom: 1em;
    }

    div {
        display: flex;
        flex-direction: column;
    }

    input[type='text'] {
        @include text-input();
        margin-bottom: 1em;
    }

    textarea {
        @include text-input();
    }

    input[type='submit'] {
        @include submit($web-col);
    }
}

.form-status {
    display: flex;
    justify-content: center;

    span {
        //border: 1px solid red;
        //background-color: black;
    }
}

.invalid-input {
    border-color: red !important;
}

.contact-info {
    width: 38em;
    margin-left: 2em;
}

.accordion-btn {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1.56em;

    &:hover {

        span {
            text-decoration: underline;
        }
    }
}

.accordion {
    display: none;

    i {
        font-size: 1.5em;
    }
}