// Colours

$nav-bar-col: #333645;

$web-col: #926FB1;
$it-col: #4082D6;
$telecoms-col: #D64541;
$software-col: #657E9C;
$marketing-col: #2DCB70;
$cyber-col: #F62459;

$colours: (
    web       : $web-col, // web
    it        : $it-col, // it
    telecoms  : $telecoms-col, // telecoms
    software  : $software-col, // software
    marketing : $marketing-col, // marketing
    cyber     : $cyber-col //cyber
);