@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.btn {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em;
}

.btn-support {
  background: #4183d7;
}

.btn-support:hover {
  background: #286abd;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-support:active {
  background: #1b467e;
}

.btn-contact {
  background: #999aa2;
}

.btn-contact:hover {
  background: #7e808a;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-contact:active {
  background: #595a62;
}

.btn-menu {
  background: #333645;
}

.btn-menu:hover {
  background: #1d1f28;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-menu:active {
  background: black;
}

input[type=text] {
  width: 15em;
  padding: 1.3em 1em;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

.main-nav li a {
  text-decoration: none;
  background-color: #333645;
  color: white;
  padding: 2em;
}

.slider-image {
  background-image: url("/assets/images/home-3wAI.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.cards {
  margin: 2em auto;
  width: 95%;
  max-width: 1200px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  margin-bottom: 4em;
  margin-top: 1em;
}

.card-software,
.card-it,
.card-marketing,
.card-telecoms,
.card-web-design,
.card-cyber,
.card-training {
  text-decoration: none;
  padding: 1.5em 1em;
  border: 1px solid lightgrey;
  -webkit-box-shadow: 0 0 1.8em .05em #e5e5e5;
          box-shadow: 0 0 1.8em .05em #e5e5e5;
  border-radius: 0.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.card:nth-child(1),
.card:nth-child(2),
.card:nth-child(3) {
  width: 31.5%;
}

.card:nth-child(4),
.card:nth-child(5),
.card:nth-child(6),
.card:nth-child(7) {
  width: 23%;
}

.card-icons {
  background-color: #67809F;
  font-size: 1.5em;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  padding: .8em;
  margin: auto;
}

.cards .btn {
  text-align: center;
  margin: auto;
}

.cards h1 {
  font-size: 18px;
}

.cards p {
  margin-bottom: 1.25em;
  font-size: 13px;
}

.btn-software {
  background-color: #67809F;
}

.btn-it {
  background: #4183D7;
}

.btn-it:hover {
  background: #286abd;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-it:active {
  background: #1b467e;
}

.btn-marketing {
  background: #2ECC71;
}

.btn-marketing:hover {
  background: #25a25a;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-marketing:active {
  background: #176437;
}

.btn-telecoms {
  background: #D64541;
}

.btn-telecoms:hover {
  background: #bc2c28;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-telecoms:active {
  background: #7d1e1b;
}

.btn-web-design {
  background: #926FB1;
}

.btn-web-design:hover {
  background: #79539a;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-web-design:active {
  background: #523868;
}

.btn-cyber {
  background: #F62459;
}

.btn-cyber:hover {
  background: #de093f;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-cyber:active {
  background: #94062a;
}

.btn-training {
  background: #926FB1;
}

.btn-training:hover {
  background: #79539a;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-training:active {
  background: #523868;
}
/*# sourceMappingURL=styles.css.map */